{% extends 'include/layout.html' %}
{% block body %}
<div class="container">
<h1>Dashboard</h1>
<hr>
<a href="{{url_for('add_post')}}" ><button type="button" class="btn btn-primary" >Add Post</button></a>
<br><br>
{% include "include/messages.html" %}
<br>
<table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th colspan="2" scope="col">Option</th>
      </tr>
    </thead>
    <tbody>

        {% for post in posts %}  
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{post.post_id}}</td>
        <td>{{post.title}}</td>
        <td><a  class="btn btn-primary" href="{{ url_for('edit_post', post_id = post.post_id) }}">Edit</a></td>
        <td><a  class="btn btn-danger" href="{{ url_for('delete_post', post_id = post.post_id) }}">Delete</a></td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
  
  
</div>
{% endblock %}



